/* .error{
    color: red;
}

.newUser{
    padding: 20px;
    background-color: lightgray;
    border-radius: 10px;
    width: 40%;
}

#JoinChannel{
    margin-right: .5em;
}
th, tr, td{
    padding:5px;
}



#channelButton > button{
    margin-right: 10px;
    margin-top: 5px;
}

.inviteGroup{
    margin-top: 5px;
}


#deleteUser{
    font-size: 1.5em;

}    


.newUserButton{
    padding-bottom: 1em;
}*/
.groups, .container{
    justify-content: center;
}
td{
    padding: .5em;
}
.groups > button{
    margin-right: 20px;
}

#newInviteGroup, #newInviteGroup2, #deleteUserGroup, #deleteUserGroup2, #deleteUserChannel, #deleteUserChannel2{
    display: none;
} 
#renameBox, #renameBox2{
    display: none;
    margin: 3px;
}

#userForm{
    display: none;
}

.form-check-label{
    text-indent: 1.5em;
}
.row{
    padding-top: .5em;
}
.row > button{
    margin-right: 5px;
}

.addChannel{
    margin-left: 5px;
}
#deleteUserGroup, #newInviteGroup{
    margin: .5em;
}
