<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
<div class="container">
    <h3 class="text-center text-info">My Groups</h3>
    <div class="groups">
        <button *ngFor="let group of userGroups" (click)="findChannels(group)" class="btn btn-info btn-md">{{group}}</button>
        <button *ngIf="role == 'GA' || role == 'SA'" (click)="addGroup()" class="btn btn-info btn-md">+</button>
    </div>
    

    <form id="joinChannel" class="form" method="post" *ngIf="userChannels[0]">
        <div class="form-group" id="channels">            
            <label for="JoinChannel" class="text-info">Choose channel: </label>
            <select  [(ngModel)]="JoinChannel" name="JoinChannel" id="JoinChannel" class="form-control" style="width: 50%;">
                <option *ngFor="let channel of userChannels" value="{{channel}}">{{channel}}</option>
            </select>
         
            <span id="channelButton">
                <button (click)="joinChannel()" class="btn btn-info btn-md">Join</button>
                <button *ngIf="role == 'GA' || role == 'SA'" (click)="addChannel()" class="btn btn-info btn-md">Create Channel</button>
            </span>
        </div>
        <div class="form-group renameForm">
            <form id="joinChannel" class="form" method="post" *ngIf="role == 'GA' || role == 'SA'">
                <input type="text" [(ngModel)]="newGroupName" placeholder="{{activeGroup}}" name="groupName" class="form-control" id="renameBox">
                <button (click)="renameGroup()" class="btn btn-info btn-md">Rename Group</button>
            </form>
        </div>
    </form>
    <div class="GroupAdmin" *ngIf="role == 'GA' || role == 'SA'">Group Admin access
        <div class="newUser">
            <form id="userForm" class="form" method="post">
                <h3 class="text-center text-info">New user creation</h3>
                <div class="form-group">
                    <label for="NewUsername" class="text-info">Username:</label>
                    <input type="text" [(ngModel)]="NewUsername" name="NewUsername" id="NewUsername" class="form-control">
                    <span class="error">{{UserError}}</span>
                </div>
                

                <div class="form-group">
                    <label for="NewEmail" class="text-info">Email:</label>
                    <input type="text" [(ngModel)]="NewEmail" name="NewEmail" id="NewEmail" class="form-control">
                    <span class="error">{{EmailError}}</span>
                </div>

                <div class="form-group">
                    <label for="NewPassword" class="text-info">Password:</label>
                    <input type="password"  [(ngModel)]="NewPassword" name="NewPassword" id="NewPassword" class="form-control">
                </div>
                <div class="form-group">
                    <label for="NewPassword2" class="text-info">Confirm Password:</label>
                    <input type="password"  [(ngModel)]="NewPassword2" name="NewPassword2" id="NewPassword2" class="form-control">
                    <span class="error">{{PasswordError}}</span>
                </div>

                <div class="form-group">
                    <label for="NewRole" class="text-info">Assign a role: </label>
                    <select  [(ngModel)]="NewRole" name="NewRole" id="NewRole" class="form-control">
                        <option value="SA">Super Admin</option>
                        <option value="GA">Group Admin</option>
                        <option value="GS">Group Assistant</option>
                        <option value="U">User</option>
                    </select>
                    <span class="error">{{RoleError}}</span>
                </div>

                <div class="form-group">
                    <button (click)="addUser()" class="btn btn-info btn-md">Create</button>
                </div>
            </form>
            <div class="SA" *ngIf="role == 'SA'">
                <div class="del">
                    <button (click)="findUsers()" class="btn btn-info btn-md">Delete Users</button>
                    <div class="userTable" *ngIf="UsersArray[0]">
                        <table>
                            <tr *ngFor="let user of UsersArray">
                                <td>{{user.username}}</td>
                                <td><a (click)="delUser(user.id)" class="glyphicon glyphicon-trash"></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p *ngIf="role == 'GA' || role == 'SA' || role == 'GS'">Group assiss access</p>
    {{role}}
</div>

