.error{
    color: red;
}

.newUser{
    padding: 20px;
    background-color: lightgray;
    border-radius: 10px;
    width: 40%;
}
th, tr, td{
    padding:5px;
}

.groups > button{
    display: inline;
    margin: 10px;
}
#channelButton > button{
    display: inline;
    margin-left: 10px;
}
