.container{
    justify-content: center;
}
td{
    padding: .5em;
}
.groups, .channels, .channelAdmin, .userAdmin{
    background-color: lightblue;
    border-radius: .5em;
    
}
.groups > div, .channels > div, #joinChannel > div, .channelAdmin > div, .userAdmin > div{
    margin: .5em;
}
.row > div{
    margin: 1.25%;
}


#userForm{
    display: none;
}

.form-check-label{
    text-indent: 1.5em;
}

/* span > button{
    margin-right: 5px;
} */
