<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
<div class="container">
    <h3 class="text-center text-info">My Groups</h3>
    <div class="row groups">
        <button *ngFor="let group of userGroups" (click)="findChannels(group)" class="col-sm-2 btn btn-info btn-md text-center">{{group}}</button>
        <button *ngIf="role == 'GA' || role == 'SA'" (click)="addGroup()" class="col-sm-0.5 btn btn-info btn-md text-center" text-center>+</button>
        <button *ngIf="(role == 'GA' || role == 'SA') && (activeGroup != '')"(click)="deleteGroup()" class="btn btn-info btn-md" style="background-color: red; border-color: red;">Delete {{activeGroup}}</button>
    </div>
    

    <div id="joinChannel" *ngIf="userChannels[0]">
        <div class="row">
            <label for="JoinChannel" class="text-info">Choose channel: </label>
        </div>
        <div class="row">
            <select  [(ngModel)]="JoinChannel" name="JoinChannel" id="JoinChannel" class="form-control col-sm-9">
                <option *ngFor="let channel of userChannels" value="{{channel}}">{{channel}}</option>
            </select>
            <span *ngIf="role == 'GA' || role == 'SA'">
                <button  (click)="addChannel()" class="col-sm-0.5 btn btn-info btn-md addChannel">+</button>
                <button *ngIf="JoinChannel != ''" (click)="deleteChannel()" class="btn btn-info btn-md" style="background-color: red; border-color: red;">Delete {{JoinChannel}}</button>
            </span>
        </div>
        <div class="row" *ngIf="JoinChannel != ''">
            <button (click)="joinChannel(activeGroup, JoinChannel)" class="btn btn-info btn-md" style="background-color: green; border-color: green;">Join</button>
            <span *ngIf="role == 'GA' || role == 'SA'">
                <button (click)="inviteChannel(activeGroup, JoinChannel)" class="btn btn-info btn-md">Invite users to {{JoinChannel}}</button>
                <button (click)="deleteUserFromChannel(JoinChannel)" class="btn btn-info btn-md">Remove users from {{JoinChannel}}</button>
            </span>
        </div>
        <div class="row">
            <select [(ngModel)]="newInviteChannel" name="newInviteChannel" id="newInviteChannel" class="form-control col-sm-4" style="margin: 5px;">
                <option *ngFor="let user of inviteChannelUsers" value="{{user}}">{{user}}</option>
            </select>
            <button (click)="sendChannelInvite(newInviteChannel, activeGroup, JoinChannel)" class="btn btn-info btn-md" id="newInviteChannel2" style="background-color: green; border-color: green;">Add</button>
        </div>
        <div class="row">
            <select  [(ngModel)]="newDeleteFromChannel" name="newDeleteFromChannel" id="deleteUserChannel" class="form-control col-sm-4" style="margin: 5px;">
                <option *ngFor="let user of deleteUsersFromChannel" value="{{user}}">{{user}}</option>
            </select>
            <button (click)="sendDeleteFromChannel()" class="btn btn-info btn-md" id="deleteUserChannel2" style="background-color: red; border-color: red;">Remove</button>
        </div>
    </div><br><br>
    <div class="row invDelGroup" *ngIf="(userChannels[0]) && (role == 'GA' || role == 'SA')">
        <button class="inviteGroup" (click)="inviteGroup(activeGroup)" class="btn btn-info btn-md">Invite users to {{activeGroup}}</button>
        <button class="deleteFromGroup" (click)="deleteFromGroup(activeGroup)" class="btn btn-info btn-md">Remove users from {{activeGroup}}</button>
        <button (click)="renameGroup()" class="btn btn-info btn-md">Rename Group</button>
    </div>
    <div class="row" *ngIf="(userChannels[0]) && (role == 'GA' || role == 'SA')">
        <form>
            <input type="text" [(ngModel)]="newGroupName" placeholder="{{activeGroup}}" name="groupName" class="form-control col-sm-6" id="renameBox">
            <button (click)="renameGroup()" class="btn btn-info btn-md" id="renameBox2">Submit</button>
        </form>
        <select  [(ngModel)]="newDeleteFromGroup" name="newDeleteFromGroup" id="deleteUserGroup" class="form-control col-sm-6">
            <option *ngFor="let user of deleteUsersFromGroup" value="{{user}}">{{user}}</option>
        </select>
        <button (click)="sendDeleteFromGroup()" class="btn btn-info btn-md" id="deleteUserGroup2" style="background-color: red; border-color: red;">Delete</button>
        <select  [(ngModel)]="newInviteGroup" name="newInviteGroup" id="newInviteGroup" class="form-control col-sm-6">
            <option *ngFor="let user of inviteUsers" value="{{user}}">{{user}}</option>
        </select>
        <button class="inviteGroup" (click)="inviteGroup(activeGroup)" class="btn btn-info btn-md" id="newInviteGroup2" style="background-color: green; border-color: green;">Invite</button>

    </div><br><br>

    <div class="GroupAdmin row" *ngIf="role == 'GA' || role == 'SA'">
        <div class="newUser col-sm-6">
            <div class="SA" *ngIf="role == 'SA'">
                <div class="del">
                    <button (click)="findUsers()" class="btn btn-info btn-md">Admin</button>
                    <div class="userTable" *ngIf="UsersArray[0]">
                        <table>
                            <tr *ngFor="let user of UsersArray">
                                <td>{{user.username}}</td>
                                <td ><a *ngIf="user.role != 'SA'" (click)="upgradeUser(user.username)" class="btn btn-info btn-sm">Make super admin</a></td>
                                <td><a (click)="delUser(user.username)" class="glyphicon glyphicon-trash" id="deleteUser"></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="newUser col-sm-6">
            <div class="newUserButton">
                <button (click)="newUserForm()" class="btn btn-info btn-md">New User</button>
            </div>
            <div id="userForm">
                <div class="form-group">
                    <label for="NewUsername" class="text-info">Username:</label>
                    <input type="text" [(ngModel)]="NewUsername" name="NewUsername" id="NewUsername" class="form-control">
                    <span class="error">{{UserError}}</span>
                </div>
                

                <div class="form-group">
                    <label for="NewEmail" class="text-info">Email:</label>
                    <input type="text" [(ngModel)]="NewEmail" name="NewEmail" id="NewEmail" class="form-control">
                    <span class="error">{{EmailError}}</span>
                </div>

                <div class="form-group">
                    <label for="NewPassword" class="text-info">Password:</label>
                    <input type="password"  [(ngModel)]="NewPassword" name="NewPassword" id="NewPassword" class="form-control">
                </div>
                <div class="form-group">
                    <label for="NewPassword2" class="text-info">Confirm Password:</label>
                    <input type="password"  [(ngModel)]="NewPassword2" name="NewPassword2" id="NewPassword2" class="form-control">
                    <span class="error">{{PasswordError}}</span>
                </div>

                <div class="form-group" *ngIf=" role == 'SA' ">
                    <p class="text-info" style="font-weight: bold;">Make Group Admin?</p>
                    <div class="form-check">
                        <input class="form-check-input" [(ngModel)]="NewRole" type="radio" id="yes" name="newGA" value="GA">
                        <label class="form-check-label" for="yes">Yes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" [(ngModel)]="NewRole" type="radio" id="no" name="newGA" value="U" checked="checked">
                        <label class="form-check-label" for="no">No</label>
                    </div>
                </div>

                <div class="form-group">
                    <button (click)="addUser()" class="btn btn-info btn-md">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>

